.DS_Store
.bundle
.project
.settings
.rspec
.rvmrc
.rbenv-version
.powenv
.vagrant
Vagrantfile
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.*.swp
*~
config/settings.local.yml
vendor/gems
public/assets
public/stylesheets
vendor/bundle
.akephelos
.d8_history
public/sitemap*
public/robots.txt
*.pui
*.prj
*.box
